@import "partials/imports";
@import "partials/nav";
@import "partials/subnav";
@import "partials/footer";
@import "partials/cover";
@import "partials/quotes";

@import "modules/styles";
@import "modules/buttons";

@import "pages/home";
@import "pages/products-pricing";
@import "pages/process-support";
@import "pages/proven-results";
@import "pages/seamless-transition";
@import "pages/contact-us";

body {
  background-color: #ffffff;
  color: #686868 !important;
  font-size: 16px !important;
  line-height: 24px  !important;
  margin: 0;
}

.banner {
  background-color: #d81e05 !important;
}

// 4x1 Photo Row
.et_pb_blurb_content {
  img {
    @extend %thumbnail-style;
  }

  .et_pb_blurb_container {
    h4 {
      color: #333333 !important;
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1em;
      margin: 1.25em 0 .75em 0;
    }
  }
}
