.help_loan_officers, .help_owners {
  h2 {
    @extend %headline;
  }

  .et_pb_main_blurb_image {
    width: 96px !important;

    & > img {
      background: {
        color: transparent;
      };
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      padding: 0;
    }
  }

  & .et_pb_blurb_container {
    h4 {
      margin: 0 0 .75em 0 !important;
    }
  }
}
